<form action="/records" method="POST" style="display: inline;">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="請輸入花費品項..." name="name">
    <input class="form-control" type="text" placeholder="請輸入金額..." name="amount">
    <button class="btn btn-success" type="submit">新增支出</button>
  </div>
</form>